@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

title {
    font-size: 1.3em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.3em;
}

p {
    font-size: 2.15em;
}

body {
    background: url('./olas.png') no-repeat center center fixed;
    background-size: cover;
    color: black;
    line-height: 1.6;
}

header {
    background: linear-gradient(167deg, rgba(0, 48, 255, 1) 0%, rgba(0, 255, 16, 1) 100%);
    height: 100px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.imagen {
    max-width: 100px;
    height: auto;
    margin-right: 15px;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: black;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav a {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: rgb(6, 176, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

header nav a:hover {
    color: black;
    background-color: rgba(6, 176, 255, 0.8);
    transform: scale(1.1);
}

header .mobile-menu {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: black;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.15em;
}

form {
    padding: 50px 55px;
    border-radius: 25px;
    text-align: center;
    min-height: 100vh;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 2px solid #f0faf1;
    color: black;
    outline: none;
    width: 100%;
    font-size: 1em;
}

textarea {
    height: 150px;
}

button {
    font-size: 16px;
    color: #f0faf1;
    border: 0;
    border-radius: 25px;
    background-color: green;
    box-shadow: 0 0 20px rgba(0, 239, 34, 1);
    cursor: pointer;
}

@media (max-width: 720px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .mobile-menu {
        display: block;
        margin-top: 10px;
    }

    nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }

    nav.active {
        display: flex;
    }

    header a {
        font-size: 1.2em;
        padding: 10px;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .imagen {
        width: 100px;
        margin: 10px 0;
    }
}

@media (min-width: 720px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
        align-items: center;
    }

    .imagen {
        width: 130px;
        margin-right: 20px;
    }

    h1 {
        font-size: 2.5em;
    }
}
