@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: url('./olas.png') no-repeat center center fixed;
    background-size: cover;
    color: black;
    line-height: 1.6;
}

header {
    background: linear-gradient(167deg, rgba(0, 48, 255, 1) 0%, rgba(0, 255, 16, 1) 100%);
    height: 100px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.imagen {
    max-width: 100px;
    height: auto;
    margin-right: 15px;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: black;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav a {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: rgb(6, 176, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

header nav a:hover {
    color: black;
    background-color: rgba(6, 176, 255, 0.8);
    transform: scale(1.1);
}

header .mobile-menu {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: black;
}

#hero {
    text-align: left;
    padding: 100px 20px 100px 50px; 
    color: black;
}

#hero h1 {
    font-size: 3.5em;
    margin-bottom: 30px; 
}

#hero h2 {
    font-size: 1.8em;
    font-weight: 400; 
    margin-bottom: 20px; 
}

@media (max-width: 720px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    header .mobile-menu {
        display: block;
    }

    header nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 100px;
        right: 10px;
        background: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    header nav.active {
        display: flex;
    }

    header nav a {
        text-align: center;
        background-color: rgb(6, 176, 255);
        color: black;
    }
    
    #hero h1 {
        font-size: 3em; 
    }
    
    #hero h2 {
        font-size: 1.5em; 
    }
}
